/* Structure */
body {
    background: #ffecf8;
    margin: 0;
}

#content {
    padding: 10px;
    width: 95%;
    margin: 5px;
    margin: auto;
    border-radius: 3px;
}

#stairs {
    position: relative;
    width: 100px;
    height: 550px;
    margin-top: 20px;
    border-left: 5px solid black;
    border-right: 5px solid black;
}

.stair {
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: black;
}

#imageContainer {
    position: relative;
    width: 100px;
    height: 300px;
}

#imageContainer img {
    position: absolute;
    width: 40px;
    height: 70px;
    left: 50%;
    transition: transform 0.3s;
}

button {
    background-color: rgb(179, 179, 179);
}

/* Typography */
h1 {
    color: #9b4343;
    margin: 20px;
    text-align: center;
}

h2 {
    color:#bb5656;
    margin: 20px;
    text-align: center;
}

h3 {
    color:#9b4343;
    margin: 20px;
}

footer p {
    text-align: center;
}

/* Larger Resolutions */
@media(min-width:600px) {
    .flex-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 650px;
        width: 30%;
        margin: 0 auto;
        flex-wrap: nowrap;
    }

    .buttons {
        display: flex;
        gap: 10px;
    }

    button {
        padding: 10px 15px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.3s;
    }

    button:hover {
        background-color: #ddd;
    }
    #imageContainer {
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

  
}