/*structure*/
.root {
    --main-background-color:white;
    --primary-color: grey;
    --secondary-color:rgb(97, 97, 97);
    --third-color: rgb(78, 78, 78);
}

body{

}



/*navigation*/





/*typgraphy*/



/*larger resolution*/




/*smaller resolution*/

