body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f8f9fa;
    margin: 0;
}

/* Structure */

#content{
   /* background: #e2ece9;*/
    padding: 5px;
    width: 95%;
    margin: 5px;
    /* centered horizontrally */
    margin: auto;
    border-radius: 5px;
}

/* Typography*/

h1{
    color: #2f3e46;
    margin: 20px;
    text-align: center;
}

h2{
    color:#2f3e46;
    margin: 20px;
    text-align: center;
}

h3 {
    color:#2f3e46;
    margin: 20px;
}
a {
    text-decoration: none;
    color: #588157;
}

a:hover{
    color: #344e41;
}

p {
    color: black;
    margin: 20px;
}

ul {
    list-style: none; /* remove bullet point */
}

#assignment1 {
    background-color: #ccd5ae;
   }

#assignment2 {
    background-color: #ccd5ae;
   }

#assignment3 {
    background-color: #ccd5ae;
   }

/* Larger Resolutions */
@media(min-width:600px) {
   .flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
    width: 30%;
    border: 1px solid black;
    margin: 0 auto;
   }

   .boxes {
    display: flex;
    flex-direction: row;
   }
}

/* Smaller Resolutions */
@media(max-width:599px) {
    .flex-container img{
     /* this will make the img src (placeholders) the same as the larger resolutions */
       display: block; 
       margin: 0 auto;
    }

    .boxes {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .flex-container {
        width: 80%;
        margin: 10px;
        border: 1px solid black;
    }

    #assignment1, 
    #assignment2, 
    #assignment3 {
        background-color: #ccd5ae;
    }   
}