body{
    background: #f6f8f1;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/*structure*/

#mainheader{
    background: #4DA16D;
    padding-top: 12px;
    padding-bottom: 12px;
}

/*typography*/

h1{
    top: 0;
    margin-left: 45px;
}

h2{
    margin-left: 45px;
    margin-right: 45px;
    margin-top: 30px;
}

h3{
    right: 0;
    margin-top: 25px;
    margin-right: 45px;
    text-align: right;
}

p{
    margin-left: 45px;
    margin-right: 45px;
    margin-top: 30px;
}

li{
    margin-left: 45px;
    margin-right: 45px;
    color: #318762;
}

a{
    text-decoration: none;
    color: #318762;
}


/*flex-large resolution*/
@media(min-width:700px){
    .flexcontainer{
        display: flex;
        flex-direction: row;
    }

    #mainheader{
        display: flex;
        justify-content: space-between;
    }

}
    



/*flex-smaller resolution*/