/* Structure */
body {
    background: #ffecf8;
    margin: 0;
    text-align: center;
}

#content {
    padding: 10px;
    width: 95%;
    margin: auto;
    border-radius: 3px;
}

#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(255, 220, 220);
    padding: 20px;
    box-shadow: 6px 6px 10px rgba(217, 99, 99, 0.5);
    text-align: center;
    width: 300px;
    max-width: 90%;
    height: 290px;
}

#popup-image {
    height: 180px;
    width: 120px;
    margin: 5px;
    
}

#close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}

#popup.hidden {
    display: none;
}

.hidden #close {
    display: none;
}

/* Typography */
h1 {
    color: #9b4343;
    margin: 20px;
    text-align: center;
}

h2 {
    color:#bb5656;
    margin: 20px;
    text-align: center;
}

h3 {
    color:#9b4343;
    margin: 20px;
}

footer p {
    text-align: center;
}

/*larger reso*/
@media(min-width:600px) {
    .flex-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        justify-content: center;
    }
    #popup {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/*smaller reso*/
@media(max-width: 599px) {
    body {
        flex-direction: column;
        padding: 10px;
    }
    h3 {
        text-align: center;
    }

    #content {
        width: 100%;
        max-width: 90%;
        padding: 15px;
    }
    .popup {
        width: 95%;
        max-width: 90%;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);    }
}