/* Structure */

#main-content {
    background-color: white;
    padding: 5px;
    margin: 20px;
}

#main-footer {
    padding: 5px;
}

.column, .rows {
    padding: 1px;
    margin: 1px;
    border-radius: 2px;
}

.col1of2 {
    background-color: blanchedalmond;
    border: 2px solid lightblue;
}

.col1of3{
    background-color: blanchedalmond;
    border: 2px solid lightblue;
} 

.col2of3 {
    background-color: none;
}

.col1of4,
.col2of4 {
    background-color: pink;
}

.rows {
    background-color: lightblue;
}

/* Navigation */

#main-nav ul {
    padding-left: 0;
}

#main-nav li {
    list-style-type: none;
    padding: 5px;
    background-color: lightblue;
    border-bottom: 1px solid darkblue;
}

#main-nav a {
    text-decoration: none;
    color: black;
}

#links li {
    list-style-type: none; /* removes bullets */
}

/* Typography */
body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:darkslategray;
}
 
#main-header h1 {
    text-align: center;
}

#main-content ul {
    color: gray;
}

#main-content h3 {
    text-align: left;
    color: cadetblue;
}

#main-content h4 {
    color: darkslategray;
}

#main-content h2 {
    text-align: left;
    color: cadetblue;
}

#main-footer p {
    text-align: center;
}

/* Some other displays */
.idea {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.text-wrapper {
    display: flex;
    flex-direction: column;
}

.second-text h4 {
    text-align: center;
}


/* Larger Resolutions */
@media(min-width:600px) {
    #main-nav ul, 
    .flex-container {
        display: flex;
    }

    .vertical h4, p {
        flex-wrap: wrap;
    }

    #main-nav li, 
    .col1of2, 
    .col1of4{
        flex: .5; /* reminders that these are the ratios of the boxes */
    }

    .col1of3 {
        flex: 1.5;
    }

    .col2of3, 
    .col2of4 {
        flex: 2;
    }

    #links li {
        text-align: left;
    }

    .rows {
        display: flex;
    }

    .idea {
        flex-direction: row;
    }

    /* this helped make the placeholders EVENLY SPACED ON THE PAGE  */
    .second-text p {
        text-align: left;
        margin: 10px;
    }

    .image-container {
        text-align: center;
        display: block;
        margin: auto;
        max-width: 100%;
    }

}

/* smaller resolutions */

@media(max-width: 599px) {
    .image-container {
        text-align: center;
        max-width: 100%;
        margin: auto;
    }
}
