/* Structure */
body {
    margin: 0; /* this removes the white spaces around the website */
    overflow-x:hidden;
}

/* REMINDER TO CREATE A GRADIENT BACKGROUND WHITE TO BLACK */

#main-header {
    background-color: white;
    padding: 1px;
    width: 100%;
    height: 100px;
}

#main-content {
    background-color: white;
    padding: 1px;
    width: 100%;
    height: 650px;
    
}

#projects {
    background-color: white;
    width: auto;
    height: 750px;
    padding: 1px;
}

#projects img {
    padding-top: 50px;
    margin-left: 50px;
}

#main-footer {
    background-color: white;
    width: auto;
    height: 100px;
}
/* Navigation */

#main-nav {
    padding-bottom: 10px;
}

#main-nav ul {
    padding-left: 0;
    text-align: center;
    font-size: 9px;
    float: right;
    width: 40%;
    white-space: nowrap;
}

#main-nav li {
    list-style-type: none;
    padding: 5px;
    background-color: white;
}

#main-nav a {
    text-decoration: none;
    color:black;
}

/* Typography */
body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}

#main-header h3 {
    font-size: 18px;
    margin-left: 100px;
    padding-top: 15px;
    width: 50px;
}

#main-header a {
    text-decoration: none;
    color: black;
}

#main-header a:hover {
    color: #84a59d;
}

#main-content h1 {
    font-size: 20px;
    margin-left: 20px;
    padding-top: 140px;
    color: black;
}

#main-content p {
    font-size: 15px;
    margin-left: 50px;
}

#main-nav {
    margin-bottom: 0px;
    margin-right: 100px;
}

#main-nav a {
    font-size: 15px;    
}

#main-nav a:hover {
    color: #84a59d;
}

#projects h3 {
    font-size: 20px;
    color: black;
    margin-left: 50px;
}

#projects p {
    font-size: 15px;
    color: black;
    margin-left: 50px;
    margin-bottom: 10px;
    max-width: 400px;
}

#main-footer h3 {
    padding-top: 20px;
    color: black;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    margin-bottom: -5px;
}

#main-footer p {
    color: black;
    font-size: 12px;
    text-align: center;
}

/* Larger Resolutions */
@media(min-width:600px) {
    .flex-container {
        display: flex;
    }

    #main-header {
        display: flex;
    }

    #main-nav {
        display: flex;
        margin-left: auto; /* or put 900px */
    }

    #main-nav ul {
        display: flex;
        align-items: flex-end; 
        margin: 5px;
        margin-right: 50px;
    }

    #main-nav li {
        flex: .5;
        margin: 10px;
    }

    .box1,
    .box2,
    .box3 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 10px;
    }

    #projects {
        display: flex;
        align-items: center; /* This centers it vertically */
        justify-content: auto; /* This centers it horizontally */
    }

    #main-footer {
        display: flex;
        align-items: center; /* reminder that this aligns the <p> in the footer vertically */
        justify-content: center; /* and this one is horizontally! */
    }
}

/* Smaller Resolutions */
@media(max-width:599px) {
    
}