body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f6fff8;
    margin: 0;
}

/* Structure */

#content{
   /* background: #e2ece9;*/
    padding: 5px;
    width: 95%;
    margin: 5px;
    /* centered horizontrally */
    margin: auto;
    border-radius: 5px;
}

#content img { /* to keep the img from going over the borders */
    max-width: 70%;
    max-height: 100%;
}

/* Typography*/

h1{
    color: #3C5D4B;
    margin: 20px;
    text-align: center;
}

h2{
    color:#5B8B70;
    margin: 20px;
    text-align: center;
}

h3 {
    color:#74A48A;
    margin: 20px;
}

p {
    color: black;
    margin: 20px;
}

ul {
    list-style: none; /* remove bullet point */
}

#box1 {
    background-color: #cce3de;
   }

#box2 {
    background-color: #cce3de;
   }

#box3 {
    background-color: #cce3de;
   }

#rotationSlider {
    width: 90%;
    margin-top: 10px;
}

.star-image {
    width: 30px;
    height: 30px;
}

footer p {
    text-align: center;
}


/* Larger Resolutions */
@media(min-width:600px) {
   .flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 650px;
    width: 30%;
    border: 1px solid black;
    margin: 0 auto;
    flex-wrap: nowrap;
   }

   .boxes {
    display: flex;
    flex-direction: row;
   }
}

/* Smaller Resolutions */
@media(max-width:599px) {
    .flex-container img{
       display: block; 
       margin: 0 auto;
    }

    .boxes {
        display: flex;
        flex-direction: column;
    }
    
    .flex-container {
        width: 80%;
        border: 1px solid black;
    }

    #box1, 
    #box2,
    #box3 {
        background-color: #cce3de;
        width: 200px;
        height: 500px;
        text-align: center;
    }   
}