/* Structure */
#body {
    margin: 0.1px;
}

#main-header {
    background-color: grey;
    padding: 1px;
    width: auto;
    height: 100px;
}

#main-content {
    background-color: white;
    padding: 1px;
    width: auto;
    height: 650px;
}

#main-content img {
    padding-top: 50px;
    margin-left: 50px;
}

#main-footer {
    background-color: white;
    width: auto;
    height: 80px;
}
/* Navigation */

#main-nav ul {
    padding-left: 0;
    text-align: center;
    font-size: 9px;
    float: right;
    width: 40%;
    white-space: nowrap;
}

#main-nav li {
    list-style-type: none;
    padding: 5px;
    background-color: grey;
    
}

#main-nav a {
    text-decoration: none;
    color:white;
}

/* Typography */
body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: white;
}

#main-header h3 {
    font-size: 10px;
    margin-left: 50px;
    padding-top: 35px;
    width: 500px;
}

#main-content h1 {
    font-size: 20px;
    margin-left: 50px;
    padding-top: 40px;
    color: black;
}

#main-nav {
    font-size: 10px;
}

#main-content p {
    font-size: 10px;
    color: black;
}

/* Larger Resolutions */
@media(min-width:600px) {
    #main-nav ul,
    .flex-container {
        display: flex;
    }

    #main-nav li {
        flex: .5;
    }

    #main-content {
        display: flex; /* this makes the 'about me' go on the right side of the img src */
        align-items: flex-start;
    }

    #main-content img {
        margin-right: 20px;
    }

    .about {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 70%;
    }

}

/* Smaller Resolutions */
@media(max-width:599px) {
    
}