body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f6fff8;
    margin: 0;
}

/* Structure */

#content{
    padding: 5px;
    width: 95%;
    margin: 5px;
    margin: auto;
    border-radius: 5px;
}

#content img { 
    max-width: 70%;
    max-height: 100%;
    color: white;
    border: black 2px;
}

/* Typography*/

h1{
    color: #5d3c3c;
    margin: 20px;
    text-align: center;
}

h2{
    color:#8b5b5b;
    margin: 20px;
    text-align: center;
}

h3 {
    color:#a47474;
    margin: 20px;
}

h4 {
    /* decreasing the space between them */
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: left;
}

p {
    color: black;
    margin: 20px;
}

ul {
    list-style: none; 
}

#box1 {
    background-color: #e3cfcc;
   }

#box2 {
    background-color: #e3cfcc;
   }

footer p {
    text-align: center;
}

#ball-container {
    background-color: white;
    border: black 2px solid;
    width: 100px;
    height: 550px;
}

#soccerBall {
    position: absolute;
    top: 0;
    width: 400px;
    height: 400px;
    margin-top: 200px;
}

/* Navigation */
#main-nav ul {
    text-align: center;
    font-size: 15px;
}

#main-nav li {
    display: inline-block;
    margin-inline-end: 40px;
}

#main-nav a{
    text-decoration: none;
    color: #a47474;
    text-align: center;
}

#main-content div {
    width: 400px;
    height: 100px;
}

/* Larger Resolutions */
@media(min-width:600px) {
   .flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 650px;
    width: 30%;
    margin: 0 auto;
    flex-wrap: nowrap;
   }

   .boxes {
    display: flex;
    flex-direction: row;
   }

   #box1 {
    border: 1px solid black;
    width: 400px;
    height: 700px;
   }
   
   #box2 {
    border: 1px solid black;
    width: 400px;
    height: 2000px;
   }

   #ball-container {
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    .description-container {
        position: relative;
        display: inline-block;
    }

    .description-container .description{
        display: none;
    }

    .description-container img {
        margin: 5px;
        padding: 5px;
        width: 300px;
        height: 200px;
    }

    .description {
        position: absolute;
        margin-left: 250px;
        width: 130px;
        top:0;
    }
}

/* Smaller Resolutions */
@media(max-width:599px) {
    .flex-container {
        width: 80%;
     }
 
     .boxes {
        display: flex;
        flex-direction: column;
     }
     
     .flex-container {
        width: 80%;
     }
 
     #box1, 
     #box2 {
        background-color: #e3cfcc;
        width: 400px;
        height: 700px;
        text-align: center;
        /* centers and makes small res look like big res */
        display: flex;
        flex-direction: column;
        align-items: center
     }   
 }