/*structure*/
body{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    margin: 0;
}

header{
    background-color: black;
}



/*navigation*/




/*typography*/
h1 {
    color:white;
    background-color: #73000A;
    padding: 10px;
    margin: 0;
    font-size: 30px;
    
}

h2 {
    font-size: 15px;
}

li{
    font-size:13px;
}




/*larger resolution*/
@media




/*smaller resolution*/
