/*structure*/
body{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    margin: 0;

}

.main-content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 150px;
    box-sizing: border-box;
}

.main-content img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

header{
    background-color: black;
}

.over-image {
    background-color: white;
    width: 230px;
    height: 120px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 10px;
}

.flex-container > #over {
    position: relative;
    display: inline-block;
}

.grid-container {
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repear(2 auto);
    gap: 10px;
}

.grid-item {
    padding: 8px;
    padding-bottom: 20px;
    margin: 10px;
    text-align: left;
    text-decoration: none;
}

.image1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*navigation*/
.columns a {
    text-decoration: none;
    color: white;
}

.columns li {
    list-style-type: none;
}

.columns-tab a {
    text-decoration: none;
    color: black;
    list-style-type: none;
    font-weight: bold;
}

.bottom-nav {
    color: black;
    background-color: lightgrey;
    padding: 6px;
    margin: 0;
    font-size: 15px;
    font-weight: bold;

}

.bottom-nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;

}

/*typography*/
#content h1 {
    color:white;
    background-color: #73000A;
    padding: 6px;
    margin: 0;
    font-size: 27px;
}

h1 {
    color: black;
    background-color: lightgrey;
    padding: 6px;
    margin: 0;
    font-size: 27px;
}

h2 {
    font-size: 15px;
}

h3 {
    color:#73000A;
    font-weight: bold;
}

h4 {
    color:#73000A;
    font-weight: bold;
}

li {
    font-size:13px;
}

p {
    color: black;
}

.main-image h3 {
    color:#73000A;
    margin: 7px;
    padding: 5px;
}

.main-image p {
    color: black;
    margin: 7px;
    padding: 5px;
}

.main-row ul{
    color: black;
    list-style: none;
}

hr {
    color: black;
}

.grid-item h3 {
    color:#73000A;
    font-weight: bold;
    margin: 5px;
    padding: 3px;
    font-size: 15px;
}

.grid-item p {
    color: black;
    margin: 5px;
    padding: 3px;
    font-size: 12px;
}

.grid-item,
.news{
    transition: 0.3s;
}

.grid-item:hover,
.news:hover {
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    background-color: rgb(238, 238, 238);
}



/*larger resolution*/
@media(max-width: 699px){
    .flex-container{
        flex-direction: column;
        display: flex;
    }

    .main-nav {
        flex-direction: row;
    }

    .grid-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    }

}