/*structure*/
:root {
    --main-background-color:white;
    --primary-color: #a8804f;
    --secondary-color:rgb(97, 97, 97);
    --third-color: rgb(78, 78, 78);
    --logo-color: white;
}

body{
    margin: 0;
    overflow-x: hidden;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: var(--main-background-color);
}

#main-header {
    background-color: var(--primary-color);
    width: 100%;
    height: 100px;
}

#main-content {
    background-color: var(--main-background-color);
    width: 100%;
    height: 1400px;
}

#main-top {
    position: relative;
    align-items: center;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translateY(-50%);
}
/*faq stuff*/
.faq-container {
    background-color: #F5E1C6;
    width: 100%;
    max-width: 2500px;
    height: 200px;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.faq-container h2 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #333;
}
.tab {
    padding: 15px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    text-align: left;
    transition: background-color 0.3s ease;
}
.tab:hover {
    background-color: #f0f0f0;
}

/* Right side - answers */
.faq-answers {
    width: 50%;
    padding-left: 20px;
}


/*navigation*/
#toggle-nav div {
    width:20px;
    height: 2px;
    background-color:black;
    margin: 4px 0;
}
#main-nav {
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 5px;
}
.nav-links {
    font-size: 9px;
    width: auto;
    white-space: nowrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.nav-links li a {
    text-decoration: none;
}

#main-nav a {
    text-decoration: none;
    color:black;
}

/*buttons & search bar*/
#search-bar {
    width: 180px;
    height: 15px;
    margin-left: auto;
    padding: 5px;
    margin-top: 32px;
    margin-right: 8px;
}
.divider {
    border: none;
    border-top: 1px solid #b0b0b0;
    margin: 20px auto;
    width: 95%;
}
.dividershort {
    border: none;
    border-top: 1px solid #b0b0b0;
    margin: 20px auto;
    width: 95%;
}

.hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

/*typgraphy*/

#main-header h1,
#main-header a {
    text-decoration: none;
    font-style: none;
    color: var(--logo-color);
    margin-left: 8px;
    padding: 5px;
}
#main-nav a{
    font-size: 12px;
}
#main-content h2 {
    color: black;
}
#main-content a {
    text-decoration: none;
    color: black;
}
h2 {
    text-align: center;
    margin-top: 65px;
}
h3 {
    margin-top:50px;
}

/*footer*/
#main-footer a {
    text-decoration: none;
    color: black;
}

#main-footer h3 {
    padding-top: 20px;
    color: black;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    margin-bottom: -5px;
}

#main-footer p {
    color: black;
    font-size: 12px;
    text-align: center;
}
.contact-info {
    list-style-type: none;
    padding: 0;
    margin-right: 200px;
    margin-bottom: 350px;
}
.contact-info h2 {
    margin-right: 350px;
    margin-bottom: 20px;
}
.contact-info li span {
    margin-right: 10px;
    font-size: 24px;
    color: var(--secondary-color);
}
.contact-map {
    margin-top: 100px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/*back to the top icons and others*/
#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(247, 247, 247);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: none;
    font-size: 36px;
    color: rgb(0, 0, 0);
    padding: 0;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
#back-to-top:hover {
    transform: scale(1.1); 
    opacity: 0.8; 
}

#back-to-top:focus {
    outline: none; 
}

/*larger resolution*/
@media(min-width:600px) {
    #toggle-nav div {
        display:none;
    }
    .flex-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    #main-header {
        display: flex;
    }
    #main-top {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #main-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 320px;
        margin-right: 100px;
    }
    #main-nav ul {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        margin-left: 10px;
    }
    #main-nav li {
        margin-inline-end: 10px;
    }
    #main-nav a {
        text-align: center;
    }

    .nav-links {
        display: flex;
    }
    #search-bar-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-left: 60px;
    }
    #search-bar-wrapper {
        flex: 1;
        display: flex;
        justify-content: flex-start;
        margin-bottom: 32px;
    }
    .icon-container {
        display: flex;
        margin-top: 5px;
    }
    #back-to-top {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }
    .contact-info li {
        display: flex;
        align-items: center;
        font-size: 18px;
        margin-bottom: 10px;
    }
    .tabs {
        display: flex;
        justify-content: space-between;
    }
    .faq-tabs {
        width: 30%;
        margin: 20px;
        margin-left:50px;
    }
    .faq-answers {
        width: 65%;
        margin: 20px;
        margin-right: 80px;
    }
    .answer {
        display: none;
        padding: 20px;
        background-color: #fafafa;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
    }
    /*when clicked it hsould show*/
    .answer.active {
        display: block;
    }
    .tabs-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

/*smaller resolution*/
@media(max-width:599px) {
    #main-header,
    #main-top,
    #main-nav,
    .nav-links {
        width: 80%;
        margin: 10px;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .flex-container {
        flex-direction: column;
        display: flex;
        align-items: flex-start;
    }
    #main-nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-left: 46px;
    }
    #toggle-nav{
        display:flex;
        flex-direction: column;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        
    }
    #toggle-nav div {
        width: 30px;
        height: 4px;
        background-color: #000;
        margin: 5px 0;
        margin-left: 100px;

    }
    #main-header {
        margin-bottom: 100px;
    }
    #main-content {
        margin-top: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    #main-top img {
        margin-left: 40px;
    }
    #main-top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #search-bar-wrapper {
        margin-left: 50px;
    }
    .hide-small {
        display:flex;
    }
    img {
        display: block;
        width:100%;
        height: auto;
        margin: 0 auto;
    }
    .faq-tabs {
        display: block;
        width: 100%;
        margin-bottom:10px;
    }
    .faq-answers {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .answer {
        margin-bottom: 15px;
        display: none;
        padding: 20px;
        background-color: #fafafa;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
    }
    .answer.active {
        display: block;
    }
    .answer p {
        margin-right: 30px;
    }
    .tab {
        padding: 15px;
        width: 100%;
    }
    .icon-container {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-left: 25px;
    }
    #search-bar {
        margin-top: 10px;
        margin-left: 20px;
    }
    #main-header h1 {
        margin-left: 55px;
    }
    #main-content h2{
        margin-right: 60px;
    }
    #main-content h3{
        margin-left: 120px;
    }
    .faq-container .search-bar {
        margin-right: 60px;
    }
}